PROMPT_NAME=test name
PROMPT_EMAIL=test+email@example.com
OTEL_SERVICE_NAME=discord
HONEYCOMB_API_KEY=
ENABLE_SEED=true
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_INVITE_URL=
DISCORD_REDIRECT_URL=http://localhost:3000/api/authentication/discord/callback
DISCORD_BOT_TOKEN=
DISCORD_BOT_PERMISSIONS=65983381777601
DISCORD_SERVER_ID=
DEFAULT_TIMEZONE=Pacific/Auckland
IS_LOCAL=
WEBAUTHN_RP_NAME=
WEBAUTHN_RP_ID=
WEBAUTHN_RP_ORIGIN=
AUTHSIGNAL_TENANT=
AUTHSIGNAL_KEY=
AUTHSIGNAL_SECRET=
AUTHSIGNAL_API_URL=
AUTHSIGNAL_REDIRECT_URL=
AUTHSIGNAL_WEBAUTHN=
MEDIA_PREFER_FIXED_ORDER=1
ALLOW_ANONYMOUS_USER=
LISTEN_HOST=
INVITEE_ORIGIN=
PUBLIC_PRODUCTS=1
PUBLIC_SERVICES=1
GENERIC_PRODUCTS=1
GENERIC_SERVICES=1